body {
    margin: 0;
    padding: 0;
    background-image: url('/image/back.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
    border-radius: 110px;
}

.log-in {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.lblemaail, .lblpass {
    font-weight: bold;
    color: white;
}

.textemail, .textpass, .bttnsign {
    width: 100%;
    margin-bottom: 20px;
}

.textemail, .textpass {
    border: none;
    border-bottom: 3px solid #ffff;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: transparent;
}

::placeholder {
    color: white;
}

.bttnsign {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
